body {
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif !important;
}

form {
	padding-bottom:20px;
}

table {
    counter-reset: rowNumber;
}

table tr.data {
    counter-increment: rowNumber;
}

table tr td:first-child::before {
    content: counter(rowNumber);
    min-width: 1em;
    margin-right: 0.5em;
}

a.active {
	color:orange;
}

.list-hyperlink {
	color: #483D8B;
}

.smaller {
	font-size: 70% !important;
}

#colorReference {
	position:absolute;
	top: 1%;
	left: 45%;
	text-align: center;
}
#spectrum {
	margin-bottom: -3%;
    height: 15px;
    width: 150px;
    background: -webkit-linear-gradient(left, #8BFFFF, #58FEFF, #00FA9A, #3CE041, #ADFF2F, #FFFF00, #FFB700, #FF7700); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left, #8BFFFF, #58FEFF, #00FA9A, #3CE041, #ADFF2F, #FFFF00, #FFB700, #FF7700); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left, #8BFFFF, #58FEFF, #00FA9A, #3CE041, #ADFF2F, #FFFF00, #FFB700, #FF7700); /* For Fx 3.6 to 15 */
    background: linear-gradient(to right, #8BFFFF, #58FEFF, #00FA9A, #3CE041, #ADFF2F, #FFFF00, #FFB700, #FF7700); /* Standard syntax (must be last) */
}

#homeHipster {
	color: magenta !important;
}

.jumbotron {
	background-color: #00CF7F !important;
}

#access, #about {
	width:70%;
	margin: 40px 0px 0px 40px;
}

#table1 {
	padding-top:20px;
	float:left;
	width: 48%;
}
#table2 {
	padding-top:20px;
	float:right;
	width: 48%;
}

#table3 {
	float: left;
	width:100%;
}

#hipster>span{
	font-weight: bolder;
}

#level1 {
	color: #8BFFFF;
}
#level2 {
	color: #58FEFF;
}
#level3 {
	color: #00FA9A;
}
#level4 {
	color: #3CE041;
}
#level5 {
	color: #ADFF2F;
}
#level6 {
	color: #FFB700;
}
#level7 {
	color: #FFB700;
}
#level8 {
	color: #FF9500;
}
#level9 {
	color: #FF7700;
}

#backgroundlevel-1, #backgroundlevel0 {
	background-color: #8BFFFF;
}
#backgroundlevel1 {
	background-color: #58FEFF;
}
#backgroundlevel2 {
	background-color: #00FA9A;
}
#backgroundlevel3 {
	background-color: #3CE041;
}
#backgroundlevel4 {
	background-color: #ADFF2F;
}
#backgroundlevel5 {
	background-color: #FFFF00;
}
#backgroundlevel6 {
	background-color: #FFB700;
}
#backgroundlevel7 {
	background-color: #FF9500;
}
#backgroundlevel8 {
	background-color: #FF7700;
}
#backgroundlevel9 {
	background-color: #FF0000;
}

.hidden {
	display: none;
}

#playlist {
	position: absolute;
	top: 10px;
	right: 20px;
}

.table-borderless tbody tr td,
.table-borderless tbody tr th,
.table-borderless thead tr th,
.table-borderless thead tr td,
.table-borderless tfoot tr th,
.table-borderless tfoot tr td {
    border: none;
}

.badBoy {
	color: #4682B4;
	font-size: 120% !important;
}
.longBoy {
	color: #DA70D6;
	font-size: 120% !important;
}
.spicyBoy {
	color: #FF6347;
	font-size: 120% !important;
}
.trackBack1 {
	background-color: rgba(233,112,229,.15);
}
.trackBack2 {
	background-color: rgba(255,99,71,.15);
}
.trackBack3 {
	background: -webkit-linear-gradient(left, rgba(233,112,229,.4), rgba(255,99,71,.4));
    background: -o-linear-gradient(left, rgba(233,112,229,.4), rgba(255,99,71,.4) );
    background: -moz-linear-gradient(left, rgba(233,112,229,.4), rgba(255,99,71,.4));
    background: linear-gradient(to right, rgba(233,112,229,.4), rgba(255,99,71,.4));
}
.trackBack4 {
	background-color: rgba(70,130,180,.15);
}
.trackBack5 {
	background: -webkit-linear-gradient(left, rgba(233,112,229,.4), rgba(70,130,180,.4));
    background: -o-linear-gradient(left, rgba(233,112,229,.4), rgba(70,130,180,.4) ); 
    background: -moz-linear-gradient(left, rgba(233,112,229,.4), rgba(70,130,180,.4) );
    background: linear-gradient(to right, rgba(233,112,229,.4), rgba(70,130,180,.4) ); 
}
.trackBack6 {
	background: -webkit-linear-gradient(left, rgba(255,99,71,.4), rgba(70,130,180,.4)); 
    background: -o-linear-gradient(left, rgba(255,99,71,.4), rgba(70,130,180,.4));
    background: -moz-linear-gradient(left, rgba(255,99,71,.4), rgba(70,130,180,.4)); 
    background: linear-gradient(to right, rgba(255,99,71,.4), rgba(70,130,180,.4)); 
}
.trackBack7 {
	background: -webkit-linear-gradient(left, rgba(233,112,229,.4), rgba(255,99,71,.15), rgba(70,130,180,.4)); 
    background: -o-linear-gradient(left, rgba(233,112,229,.4), rgba(255,99,71,.15), rgba(70,130,180,.4) ); 
    background: -moz-linear-gradient(left, rgba(233,112,229,.4), rgba(255,99,71,.15), rgba(70,130,180,.4) ); 
    background: linear-gradient(to right, rgba(233,112,229,.4), rgba(255,99,71,.15), rgba(70,130,180,.4) ); 
}